*{
    margin:0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
.logo{
    width: 140px;
}

.nav-panel li{
    display: inline;
    list-style: none;
    margin:0px 16px;
    font-size: 16px;
    font-weight: 500;
}
.nav-panel li a:hover{
    background: rgba(70, 145, 101, 1);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.nav-panel li a{
    text-decoration: none;
    color: black;
}
.h-btn{
    height: 44px;
    background-color: rgba(70, 145, 101, 1);
    padding: 12px 16px;
    border-radius: 4px;
    color:#fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.h-btn:hover{
    cursor: pointer;
    background: rgb(38, 185, 253);
}


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}