*{
    margin:0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
.logo{
    width: 140px;
}

.nav-panel li{
    display: inline;
    list-style: none;
    margin:0px 16px;
    font-size: 16px;
    font-weight: 500;
}
.nav-panel li a:hover{
    background: rgba(70, 145, 101, 1);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.nav-panel li a{
    text-decoration: none;
    color: black;
}
.h-btn{
    height: 44px;
    background-color: rgba(70, 145, 101, 1);
    padding: 12px 16px;
    border-radius: 4px;
    color:#fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.h-btn:hover{
    cursor: pointer;
    background: rgb(38, 185, 253);
}


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* banner section  */
.banner{
    height: 670px;
    background: url("./assets/hero-bg.png");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}
section .circle-box .circle{
    width: 16px;
    height: 16px;
    background: rgb(75, 150, 75);
    border-radius: 50px;
}
section .circle-box .e-access{
    width: 183px;
    height: 20px;
    color: rgb(75, 150, 75);
    font: 500;
}
.banner .circle-box{
    background: #fff;
    display: flex;
    border-radius: 50px;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
}
.bn-heading{
    height: 168px;
    width: 770px;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, 1); 
}
.bn-heading span{
    color: rgba(48, 184, 104, 1);
}
.content p{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.bn-btn img{
    height: 20px;
}
.bn-container{
    display: flex;
}
.bn-btn{
    align-items: center;
    justify-content: center;
    height: 52px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}
.btn-1{
     width: 251px;
    background: rgb(89, 151, 89);
        flex-direction: row;
        text-align: left;
        padding-left: 12px;
}
.btn-2{
    width: 198px;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.2);;
    text-align: right;
    padding-right: 12px;
    
}
.bn-btn:hover{
    cursor: pointer;
    background: rgb(38, 185, 253);
}
/*Cards Section*/

.cards-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 670px;
}

.c-headline{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.c-sub{
    font-size: 16px;
    font-weight: 400;
    color:rgba(98, 115, 130, 1);
}

.cards-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:24px;
    margin-top: 45px;
}

.card{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.icon-frame{
    background-color:rgba(249, 85, 85, 1);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.card-head{
    font-size: 24px;
    font-weight: 600;
}

.card-body{
    color:rgba(98, 115, 130, 1);
    font-size: 16px;
    font-weight: 400;
}

/* Box Section */
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.box .knowledge-box img{
    height: 600px;
    width: 600px;
}
.content-box .solution{
    font-size: 16px;
    font-weight: 500;
    color: rgba(70, 145, 101, 1);
    

}
.second-brn{
    font-size: 48px;
    font-weight: 700;
}
.para{
    font-size: 16px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
}
.content-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.obj-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.obj{
    display: flex;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
}

.ready{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    padding: 80px 40px;
    margin: 120px;
}

.r-head{
    font-size: 40px;
    font-weight: 700;
}

.r-sub{
    font-size: 16px;
    font-weight: 400;
    color:rgba(98, 115, 130, 1);
}

.early-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    background:rgba(70, 145, 101, 1);
    border-radius: 5px;
}

.early-btn img{
    height: 20px;
}

.early-btn p{
    font-size: 16px;
    font-weight: 600;
    color:#fff;
}
.early-btn:hover{
    cursor: pointer;
    background: rgb(38, 185, 253);
}
footer{
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 120px;
}
.f-logos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img-c img{
    height: 12px;
}
.img-c{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-links div p{
    color: #fff;
}
.s-img{
    display: flex;
}
.copy{
    color: #fff;
}