*{
    margin:0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
.logo{
    width: 140px;
}

.nav-panel li{
    display: inline;
    list-style: none;
    margin:0px 16px;
    font-size: 16px;
    font-weight: 500;
}
.nav-panel li a:hover{
    background: rgba(70, 145, 101, 1);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.nav-panel li a{
    text-decoration: none;
    color: black;
}
.h-btn{
    height: 44px;
    background-color: rgba(70, 145, 101, 1);
    padding: 12px 16px;
    border-radius: 4px;
    color:#fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.h-btn:hover{
    cursor: pointer;
    background: rgb(38, 185, 253);
}


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* banner section  */
.banner{
    height: 670px;
    background: url("./assets/hero-bg.png");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}
section .circle-box .circle{
    width: 16px;
    height: 16px;
    background: rgb(75, 150, 75);
    border-radius: 50px;
}
section .circle-box .e-access{
    width: 183px;
    height: 20px;
    color: rgb(75, 150, 75);
    font: 500;
}
.banner .circle-box{
    background: #fff;
    display: flex;
    border-radius: 50px;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
}
.bn-heading{
    height: 168px;
    width: 770px;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, 1); 
}
.bn-heading span{
    color: rgba(48, 184, 104, 1);
}
.content p{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.bn-btn img{
    height: 20px;
}
.bn-container{
    display: flex;
}
.bn-btn{
    align-items: center;
    justify-content: center;
    height: 52px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}
.btn-1{
     width: 251px;
    background: rgb(89, 151, 89);
        flex-direction: row;
        text-align: left;
        padding-left: 12px;
}
.btn-2{
    width: 198px;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.2);;
    text-align: right;
    padding-right: 12px;
    
}
.bn-btn:hover{
    cursor: pointer;
    background: rgb(38, 185, 253);
}
/* Box Section */
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.box .knowledge-box img{
    height: 600px;
    width: 600px;
}
.content-box .solution{
    font-size: 16px;
    font-weight: 500;
    color: rgba(70, 145, 101, 1);
    

}
.second-brn{
    font-size: 48px;
    font-weight: 700;
}
.para{
    font-size: 16px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
}
.content-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.obj-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.obj{
    display: flex;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
}
/* updated css */